.App {
  width: 99%;
}

.App h2 {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  color: #555;
  background-color: #e7e7e7;
}

table td {
  vertical-align: middle !important;
}

.big-size {
  font-size: 24px;
  font-weight: bold;
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
